{% from '/onboarding-portal/modules/mjtw_partials.html' import
  location_fields,
  pricing_card,
  pricing_table,
%}

{# Module-specific options #}
{% set locationType = 'Location' %}
{% set locations = module.data_query.data.CRM.contact.associations.company_collection__primary.items[0].associations.p_properties_collection__property_to_company.items %}
{% set companies = module.data_query.data.CRM.contact.associations.company_collection__primary.items %}
{% set pricingType = {
  useLegacy: false
} %}

{% for company in companies %}
  {% if company.pricing == 'Old' %}
    {% do pricingType.update({ useLegacy: true }) %}
  {% endif %}
{% endfor %}

{# Intro variables #}
{% set introContent = module.intro_content %}
{% set introVideo = module.intro_video %}
{% set locationInfo = module.location_info %}
{% set productCards = module.product_cards %}
{% set legacyProductCards = module.legacy_product_cards %}
{% set addOnTables = module.add_on_tables %}

{# Macros #}
{% macro step_number(label, currentStep, pageStep) %}
<div class="step-header__step">
  <span class="step-header__step-number{% if pageStep  == currentStep %} active{% elif pageStep > currentStep %} complete{% endif %}">
    {% if pageStep > currentStep %}
      <span class="material-symbols-rounded">done</span>
    {% else %}
      {{ currentStep }}
    {% endif %}
  </span>
  <span class="step-header__step-label h6">{{ label }}</span>
</div>
{% endmacro %}

{% macro step_header(pageStep) %}
  <div class="step-header">
    {% set currentStep = 1 %}
    {{ step_number(locationType ~ ' Details', currentStep, pageStep) }}
    {% set currentStep = currentStep + 1 %}
    {{ step_number('Select Package', currentStep, pageStep) }}
    {% set currentStep = currentStep + 1 %}
    {{ step_number('Select Add-ons', currentStep, pageStep) }}
    {% set currentStep = currentStep + 1 %}
    {{ step_number('Review Summary', currentStep, pageStep) }}
  </div>
{% endmacro %}

{% macro prev_button() %}
  <button class="new-subscription__prev cta-btn cta-btn--regular cta-btn--gray pagination-prev">Back</button>
{% endmacro %}

{% macro current_total() %}
  <div class="new-subscription__current-total">
    <span class="new-subscription__current-total-label h6">TOTAL</span>
    <span class="new-subscription__current-total-value h4">
      <span class="new-subscription__current-total-per-currency">$</span>
      <span class="new-subscription__current-total-amount">0</span>
      <span class="new-subscription__current-total-per-month">/mo</span>
    </span>
  </div>
{% endmacro %}

{% macro next_button(label, disabled) %}
  <button class="new-subscription__next cta-btn cta-btn--regular cta-btn--primary pagination-next{% if disabled %} disabled{% endif %}">
    {{ label }}
    <span class="material-symbols-rounded">arrow_forward_ios</span>
  </button>
{% endmacro %}

{# Markup #}
<div class="module">
  <div class="constrain pagination-page-container">
    <div class="new-subscription__page new-subscription__page--intro pagination-page active">
      <div class="card">
        <div class="card__header">
          {{ step_header(0) }}
        </div>
        <div class="card__body{% if introVideo %} card__body--media{% endif %}">
          <div>
            {{ introContent }}
          </div>
          {% if introVideo %}
            <div class="card__media">
              <div class="card__media-inner">
                <video src="{{ introVideo }}" controls></video>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="card__footer">
          {{ next_button('Get Started') }}
        </div>
      </div>
    </div>

    <div class="new-subscription__page new-subscription__page--location pagination-page">
      <div class="card">
        <div class="card__header">
          {{ step_header(1) }}
        </div>
        <div class="card__body{% if locationInfo %} card__body--info{% endif %}">
          <div>
            <div class="card card--padded card--color-info">
              {# <p>{{ locations }}</p> #}
              <label for="new-subscription-location-select">Use an existing {{ locationType|lower }}</label>
              <select id="new-subscription-location-select" name="location">
                <option value="*">Select a {{ locationType|lower }}</option>
                {% for location in locations %}
                  <option value="{{ location.hs_object_id }}">{{ location.property_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="new-subscription__or-divider">
              <span class="new-subscription__or-divider-label">OR</span>
            </div>
            <div class="new-subscription__location-new">
              {{ location_fields(locationType, 'new') }}
            </div>
          </div>
          {% if locationInfo %}
            <div class="card card--padded card--info">
              {{ locationInfo }}
            </div>
          {% endif %}
        </div>
        <div class="card__footer">
          {{ prev_button() }}
          {{ next_button('Next') }}
        </div>
      </div>
    </div>

    <div class="new-subscription__page new-subscription__page--package pagination-page">
      <div class="card">
        <div class="card__header">
          {{ step_header(2) }}
        </div>
        <div class="card__body">
          <h3>Select your geofencing package</h3>
          <div class="module__grid module__grid--four-col">
            {% for product in productCards %}
              <div class="module__grid-item">
                {{ pricing_card(product.properties, 'select') }}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="card__footer">
          {{ prev_button() }}
          {{ current_total() }}
          {{ next_button('Next') }}
        </div>
      </div>
    </div>

    <div class="new-subscription__page new-subscription__page--addons pagination-page">
      <div class="card">
        <div class="card__header">
          {{ step_header(3) }}
        </div>
        <div class="card__body">
          <h3>Customize your package</h3>
          {% for table in addOnTables %}
            {% if table.enable_conditional_logic %}
              <div class="new-subscription__conditional-logic">
                <label for="">{{ table.conditional_logic_title }}</label>
                <div class="new-subscription__conditional-logic-items">
                  <div class="card__input-group">
                    <label for="{{ name }}-{{ loop.index }}-yes" class="hs-form-radio-display">
                      <input id="{{ name }}-{{ loop.index }}-yes" name="{{ name }}-{{ loop.index }}" type="radio" value="true" checked><span>Yes</span>
                    </label>
                    <label for="{{ name }}-{{ loop.index }}-no" class="hs-form-radio-display">
                      <input id="{{ name }}-{{ loop.index }}-no" name="{{ name }}-{{ loop.index }}" type="radio" value="false"><span>No</span>
                    </label>
                  </div>
                  {% if table.conditional_logic_decline_info_label || table.conditional_logic_decline_info_description %}
                    <div class="new-subscription__conditional-logic-message notification notification--info">
                      <strong class="p small">{{ table.conditional_logic_decline_info_label }}</strong>
                      <span class="p small">{{ table.conditional_logic_decline_info_description }}</span>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {{ pricing_table(table, pricingType.useLegacy) }}

            {% if !loop.last %}
              {# <div class="card__divider"></div> #}
              <hr>
            {% endif %}
          {% endfor %}
        </div>
        <div class="card__footer">
          {{ prev_button() }}
          {{ current_total() }}
          {{ next_button('Next') }}
        </div>
      </div>
    </div>

    <div class="new-subscription__page new-subscription__page--summary pagination-page">
      <div class="card">
        <div class="card__header">
          {{ step_header(4) }}
        </div>
        <div class="card__body"></div>
        <div class="card__footer">
          {{ prev_button() }}
          {{ current_total() }}
          <button class="new-subscription__submit cta-btn cta-btn--regular cta-btn--primary">
            Order Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
